.gameBoard{
    width: fit-content;
    height: fit-content;
    border: solid black 1px;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 48%;
    margin-top: 0.5%;
}

.boardButtons{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 2%;
    flex-direction: column
}

.boardButtonElement{
    margin-top: 4%;
}

.boardTitle{
    padding-left: 3%;
}

.chordBoardInputs{
    display: flex;
    flex-direction: row;
}

.speedSlider{
    transform: rotate(180deg);
}

.halfInputElement{
    width: 40%;
    margin-right: 2%;
    margin-left: 2%;
}

.spanExamples{
    margin-right: 20%;
    margin-left: 20%;
}

.fullLengthElement{
    width: 90%;
    margin-right: 2%;
    margin-left: 2%;
}