.popup-closed {
    position: fixed;
    top: 22%;
    left: 2%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    display: none;
    width: 39vw;
    height: 40vh;
    overflow-y: auto;
  }
  
  .popup-open {
    position: fixed;
    top: 22%;
    left: 2%;
    background-color: lightgrey;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    display: block;
    width: 39vw;
    height: 40vh;
    overflow-y: auto;
  }

  #closeButton{
    margin-right: 90%;
  }
  
  .popup-inner {
    text-align: center;
  }
  
  .popup button {
    margin-top: 10px;
  }

  .exampleBoard{
    height: 10vh;
    width: 10vh;
    margin: 2vh;
  }

  .repBoard{
    height: 15vh;
    width: 15vh;
    margin: 3.5vh;
  }